CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8124
CLICKHOUSE_NATIVE_PORT=9001
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=recsys2025
MLFLOW_TRACKING_URI=http://localhost:5002
MLFLOW_PORT=5002
